* {box-sizing: 
	border-box;

}

body {
	display: flex;
	flex-direction: column;
	background-image: url("background1.jpg");
	color: #BDA52E;
	text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;

}

header {
	display: flex;
	flex-direction: row;
	justify-content:space-around;
}

.logo {
	width: 50%;
}

.score-question-counter{
	align-content: flex-end;
}

.left-corner{
	width: 40%;
}

main {
	background: rgba(0, 0, 0, 0.8);
	border: 2px solid black;
	width: 70%;
	min-height: 300px;
	align-self: center;
	align-content: center;
	display: flex;

}

h1, h2, h3 {
	font-family: 'Cherry Swash', cursive;
	color: #BDA52E;
}

fieldset {
	display: flex;
	border: none;
}

.questionForm {
	font-family: 'Rokkitt', serif;
	justify-content: center;
	display: flex;
	align-items: center;
	min-width: 229px;

}


ul {
	list-style: none;

}

.quizStart {
	text-align: center;
	align-self: center;
	display: flex;
	flex-direction: column;
}


.startButton, .submit, .nextButton, .restartButton {
	flex-direction: flex-end;
	font-family: 'Rokkitt', serif;
	color: white;
	background-color: black;
	border: 1px solid #64CCD4;
	display: block;
  	width: 100%;
	  -webkit-transition-duration: 0.4s; 
  transition-duration: 0.4s;
}

.startButton:hover, .submit:hover, .nextButton:hover, .restartButton:hover {
  background-color: white; 
  color: black;

.right-corner {font-family: 'Rokkitt', serif; 
}

@media screen and (min-width 1150px) {
	main{
		max-width: 730px;	
		}
	}
}